{% load static %}
<html>
<head>
    <title>Forgotton Password</title>
    <link href="{% static 'css/legacy-login.css' %}" rel="stylesheet" type="text/css" />

</head>

<body>
<center>
<table border cellpadding=5>
<td align=center><A HREF="/" border=off><B>Home</B></A></td>
<td align=center><A HREF="/announcement.html" border=off><B>About</B></A></td> 
<td align=center> <A
HREF="/membership_form.php"><B>Subscribe</B></A></td> 
<td align=center><a href="/search.html"><B>Search</B></a></td>
<td align=center> <A HREF="/Restricted/"><B>Member Area</B></A></td>
</table>
</center>
    
    {% if success %}
    <p>{{success}}</p>
    {% else %}
   <div id="log">

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    </div>

    <div id="container"  style="width:230px;">
    <form class="form" action="" method="post">
        <p> Reset your password</p>
        {% csrf_token %}
        <input type="hidden" name="_submit_check" value="1"/> 
        
        <label for="password">Password*</label>
        <input class="input" type="password" id="password" name="password" size="32" value="" />
        
        <label for="password2">And again*</label>
        <input class="input" type="password" id="password2" name="password2" size="32" value="" />
        
        <input type="submit" name="Submit" value="SUBMIT"  class="submit-btn" alt="submit" title="submit" />

        <br class="clear" />
    </form>
    {% endif %}
    </div>
</body>

</html>