{% load static %}
<html>
<head>
    <title>Humanist Member Login</title>
    <link href="{% static 'css/legacy-login.css' %}" rel="stylesheet" type="text/css" />

</head>

<body><center>
<table border cellpadding=5>
<td align=center><A HREF="/" border=off><B>Home</B></A></td>
<td align=center><A HREF="/announcement.html" border=off><B>About</B></A></td> 
<td align=center> <A
HREF="/membership_form.php"><B>Subscribe</B></A></td> 
<td align=center><a href="/search.html"><B>Search</B></a></td>
<td align=center> <A HREF="/Restricted/"><B>Member Area</B></A></td>
</table>
</center>    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div style="font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;">
        <center>

    <div id="container" style="width:230px;">

       <p>You don't have permission to access that page.</p>
        
    </div>
    
</body>

</html> 

