{% load staticfiles %} 
<html>
<head>
<title>Humanist Discussion Group - Search</title>
<link rev="made" href="mailto:Willard.McCarty@kcl.ac.uk">
</head>
<body background="{% static 'images/strip.gif' %}">
<center>
<table border cellpadding=5>
<td align=center><A HREF="/" border=off><B>Home</B></A></td>
<td align=center><A HREF="/announcement.html" border=off><B>About</B></A></td> 
<td align=center> <A
HREF="/membership_form.php"><B>Subscribe</B></A></td> 
<td align=center><a href="/search.html"><B>Search</B></a></td>
<td align=center> <A HREF="/Restricted/"><B>Member Area</B></A></td>
</table>
</center>
<br>

<center><a href="/quack.html"><img src="{% static 'images/humanist.gif' %}" alt="Humanist Discussion Group" border=off></a></center><br><br>
<center>
    <header><h2>Humanist Archives: Search</h2></header>
</center>


<p>You can use this form to search the Humanist Archives. Please note that search results may be in differing formats, due to the varying mailing list software used throughout the years. Due to many of these results being text/html files, we do not display result snippets here.</p>

<form action="" method="get">
    <b>Query:</b>  <input type="text" name="q" size="80" style="font-family: Helvetica, Arial, sans-serif" {% if q %}value="{{q}}"{% endif %}>
    <input type="submit" value="Search">
  </form>

{% if q %}

<header><h3>Search Results for: {{q}} ({{ results_count }} found)</h3></header>

{% if results.object_list %}

{% if results.has_previous %}
    <a href="/search.html?q={{q}}">First</a>
    <a href="/search.html?q={{q}}&page={{results.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{ results.number}} of {{page_count }}

    {% if results.has_next %}
    <a href="/search.html?q={{q}}&page={{results.next_page_number}}">Next</a>
    <a href="/search.html?q={{q}}&page={{page_count}}">Last</a>

    {% endif %}
    
<ul>
    {% for result in results.object_list %}
    <li><a href="{{ result.url }}">{{ result.title }}</a></li>
    {% endfor%}
    
</ul>

    {% if results.has_previous %}
    <a href="/search.html?q={{q}}">First</a>
    <a href="/search.html?q={{q}}&page={{results.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{ results.number}} of {{page_count }}

    {% if results.has_next %}
    <a href="/search.html?q={{q}}&page={{results.next_page_number}}">Next</a>
    <a href="/search.html?q={{q}}&page={{page_count}}">Last</a>

    {% endif %}

{% else %}
<b>No results found.</b>
{% endif %}

{% endif %}
  
<br><br>
<p><b>Editor</b>: <a href="http://www.mccarty.org.uk">Willard McCarty</a> (King's College London, U.K.; Western Sydney University, Australia) <br> 
<b>Software designer</b>: <a href="http://www.mind-crafts.com/aboutus.html">Malgosia Askanas</a> (Mind-Crafts)</p>

<p>This site is <a href="//kdl.kcl.ac.uk/how-we-work/kdl-designed-developed-and-maintained/">maintained</a> under a service level agreement by <a href="//kdl.kcl.ac.uk/">King's Digital Lab</a>.


</body>

</html>

