/** Your custom scss here **/

/** Colors */
$primary: #93c054;
$secondary: #577929;
$grey: #2d2d2d;
$text: #666666;
$white: #ffffff;

$vpadding: 20px;
$hpadding: 20px;

html,
body
{
    color: $text;
    font-family: 'Merriweather', 'Times New Roman', 'serif';
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: $secondary;


    &:hover
    {
        border-bottom: 1px dotted;
    }
}

.badge
{
    display: inline-block;
    background: $primary;
    color: #ffffff;
    padding: 2px 5px;

    border-radius: 5px;
}

.breadcrumb
{
    margin: $vpadding 0 0 0;
    overflow: hidden;
    a
    {
        color: white;
        text-decoration: none; 
        padding: 5px 0 5px 50px;
        background: brown; /* fallback color */
        background: hsla(85,59%,32%,1);
        position: relative; 
        display: block;
        float: left;
        font-size: 0.9rem;

        &:hover
        {
            border: none;
        }

        &::after
        {
            content: " "; 
            display: block; 
            width: 0; 
            height: 0;
            border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
            border-bottom: 50px solid transparent;
            border-left: 30px solid hsla(85,59%,32%,1);
            position: absolute;
            top: 50%;
            margin-top: -50px; 
            left: 100%;
            z-index: 2; 
        }

        &::before
        {
            content: " "; 
            display: block; 
            width: 0; 
            height: 0;
            border-top: 50px solid transparent;       
            border-bottom: 50px solid transparent;
            border-left: 30px solid white;
            position: absolute;
            top: 50%;
            margin-top: -50px; 
            margin-left: 1px;
            left: 100%;
            z-index: 1; 
        }

        &:first-child {
            padding-left: $hpadding;
        }

        &:nth-child(2)       { background:        hsla(85,59%,42%,1); }
        &:nth-child(2):after { border-left-color: hsla(85,59%,42%,1); }
        &:nth-child(3)       { background:        hsla(85,59%,52%,1); }
        &:nth-child(3):after { border-left-color: hsla(85,59%,52%,1); }
        &:nth-child(4)       { background:        hsla(85,59%,62%,1); }
        &:nth-child(4):after { border-left-color: hsla(85,59%,62%,1); }
        &:nth-child(5)       { background:        hsla(85,59%,72%,1); }
        &:nth-child(5):after { border-left-color: hsla(85,59%,72%,1); }

        

        &:hover { 
            background: hsla(85,59%,22%,1); 
        }
        &:hover:after { 
            border-left-color: hsla(85,59%,22%,1) !important; 
        }
    }
}

.editor-formlist
{

    textarea.body
    {
        height: 100px;
        width: 100%;
    }



    table
    {
        border-spacing: 0px;
        border-collapse: separate;
        width: 100%;
        white-space: nowrap;
        tr
        { 

            &:nth-child(2n+1):not(:first-child)
            {
                background: #fafafa;

                &:hover
                {
                    background: #eeeeee;
                }
            }

            &:hover
            {
                background: #eeeeee;
            }

            th
            {
                border-bottom: 1px solid #ccc;
                padding: 10px 10px;

                &:last-child {
                    text-align: left;
                    width: 100%;
                }
            }

            td
            {
                padding: 10px 10px;
                vertical-align: top;

                &:last-child {
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }

    .content
    {
        .subject
        {
            display: block;
            padding: 0 0 $vpadding 0;
            font-weight: bold;
        }

        .body
        {
            outline: 2px solid #dddddd;
            margin: 0 0 10px 0;
            padding: 10px;
            max-height: 200px;
            overflow: scroll;

            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    }
}

.editor-overview
{
    overflow: hidden;

    .editions
    {
        float: left;
        width: 70%;
    }

    .users
    {
        float: left;
        width: 25%;

        dl
        {
            dt
            {
                font-weight: bold;
                display: inline;
            }

            dd
            {
                display: inline;
                margin: 0;

                &:after { 
                    content: '\A';
                    white-space:pre;
                }
            }
        }
    }
}

 .error
{
    color: #cc0000;
}

form.user_form
{
    input,
    textarea
    {
        display: block;
        font-family: 'Courier New', 'Courier', mono;
        font-size: 1.2rem;
        margin: 10px 0;
    }
    
    label
    {
        padding: 0 0 10px 0;
    }
}

footer
{
    background: #eeeeee;
    color: #666666;
    margin: 50px 0 0 0;
    text-align: center;

    div
    {
        padding: 60px $hpadding;

        a
        {
            color: $secondary;
        }
    }
}

header
{
    h1
    {
        color: $grey;
        font-size: 1.8rem;
        margin: $vpadding 0 0 0;
    }
}
h2
{
    color: $text;
    margin: 0;
}
input.send
{
    background: $primary;
    color: #ffffff;

    &:hover
    {
        cursor: pointer;
        background: $secondary;
    }
}
main
{
    padding: 0 $hpadding;
}

nav
{
    background: $grey;

    height: 50px;

    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li
        {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 00;
            line-height: 50px;

            &.left
            {
                &:first-child
                {
                    font-weight: 400;
                    margin: 0 0 0 50px;
                }

                float: left;
                margin: 0 0 0 20px;
            }

            &:not(.left)
            {
                &:last-child
                {
                    margin: 0 50px 0 0;
                }
                margin: 0 20px 0 0;
            }

            a
            {
                &:hover
                {
                    color: rgba(255,255,255,1);
                }
                color: rgba(255,255,255,0.8);
            }
        }
    }
}

section
{

    &:not(:last-child)
    {
        border-bottom: 1px solid #cccccc;
    }
    margin: $vpadding 0 0 0;
    padding: 0 0 10px 0;
}


.step-links
{
    text-align: center;
}

.success
{
    color: #00aa00;
}

.tabs
{
    display: flex;
    list-style: none;
    margin:10px 0 0 0;
    padding: 0;

    li
    {
        display: inline-block;
        padding: 0;

        a
        {
            display: block;
            padding: 5px 10px;

            &:hover
            {
                border: none; 
            }
        }

        &.active
        {
            background-color: $secondary;

            &:hover
            {
                background-color: #3f581e;
            }

            a
            {
                color: $white;
            }
        }

        &:not(.active)
        {
            background-color: #eeeeee;

            &:hover
            {
                background-color: #bbbbbb;
            }

            a
            {
                color: $grey;
            }
        }

        &:first-child
        {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child
        {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
