/** Your custom scss here **/

/** Colors */
$primary: #819e6c;


html,
body
{
    color: #666666;
    font-family: 'Helvetica', 'Verdana', 'sans-serif';
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: $primary;


    &:hover
    {
        border-bottom: 1px dotted;
    }
}

.badge
{
    display: inline-block;
    background: $primary;
    color: #ffffff;
    padding: 2px 5px;

    border-radius: 5px;
}

.editor-formlist
{

    textarea.body
    {
        height: 100px;
        width: 100%;
    }

    input.send
    {
        background: #819e6c;
        color: #ffffff;

        &:hover
        {
            background: #708d5b;
        }
    }

    table
    {
        border-spacing: 0px;
        border-collapse: separate;
        width: 100%;
        white-space: nowrap;
        tr
        { 

            &:nth-child(2n+1):not(:first-child)
            {
                background: #fafafa;

                &:hover
                {
                    background: #eeeeee;
                }
            }

            &:hover
            {
                background: #eeeeee;
            }

            th
            {
                border-bottom: 1px solid #ccc;
                padding: 10px 10px;

                &:last-child {
                    text-align: left;
                    width: 100%;
                }
            }

            td
            {
                padding: 10px 10px;
                vertical-align: top;

                &:last-child {
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }

    .content
    {
        .subject
        {
            display: block;
            padding: 0 0 20px 0;
            font-weight: bold;
        }

        .body
        {
            outline: 2px solid #dddddd;
            margin: 0 0 10px 0;
            padding: 10px;
            max-height: 200px;
            overflow: scroll;

            white-space: pre-wrap;       /* css-3 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }
    }
}

.editor-overview
{
    overflow: hidden;

    .editions
    {
        float: left;
        width: 70%;
    }

    .users
    {
        float: left;
        width: 25%;

        dl
        {
            dt
            {
                font-weight: bold;
                display: inline;
            }

            dd
            {
                display: inline;
                margin: 0;

                &:after { 
                    content: '\A';
                    white-space:pre;
                }
            }
        }
    }
}

 .error
{
    color: #cc0000;
}

form.user_form
{
    input,
    textarea
    {
        display: block;
        font-family: 'Courier New', 'Courier', mono;
        font-size: 1.2rem;
    }
    
    label
    {
        padding: 0 0 10px 0;
    }
}

footer
{
    background: #eeeeee;
    color: #666666;
    margin: 50px 0 0 0;
    text-align: center;

    div
    {
        padding: 60px 20px;

        a
        {
            color: $primary;
        }
    }
}

header
{
    h1
    {
        margin: 50px 0 0 0;
    }
}

main
{
    padding: 0 20px;
}

nav
{
    background: $primary;
    height: 50px;

    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: right;

        li
        {
            display: inline-block;
            font-size: 1.2rem;
            line-height: 50px;

            &.left
            {
                float: left;
                margin: 0 0 0 20px;
            }

            &:not(.left)
            {
                margin: 0 20px 0 0;
            }

            a
            {
                color: #ffffff;
            }
        }
    }
}

section
{
    margin: 50px 0 0 0;
}


.success
{
    color: #00aa00;
}
