{% load staticfiles %} 
<html>
<head>
<title>Attachment Does Not Exist - Humanist Discussion Group</title>
<link rev="made" href="mailto:Willard.McCarty@kcl.ac.uk">
</head>
<body background="{% static 'images/strip.gif' %}">
<center>
<table border cellpadding=5>
<td align=center><A HREF="/" border=off><B>Home</B></A></td>
<td align=center><A HREF="/announcement.html" border=off><B>About</B></A></td> 
<td align=center> <A
HREF="/membership_form.php"><B>Subscribe</B></A></td> 
<td align=center><a href="/search.html"><B>Search</B></a></td>
<td align=center> <A HREF="/Restricted/"><B>Member Area</B></A></td>
</table>
</center>
<br>

<center><a href="quack.html"><img src="{% static 'images/humanist.gif' %}" alt="Humanist Discussion Group" border=off></a>

<p><strong>Sorry, but that attachment no longer exists.</strong></p>

</center>

</body>

</html>

