{% extends 'base.html' %}

{% block meta_title %}
View/Edit Edition
{% endblock %}

{% block title %}
View/Edit Edition
{% endblock %}

{% block breadcrumb %}
<a href="/editor">Editor</a>
<a href="/editor/editions">Editions</a>
<a href="/editor/editions/{{ edition.id }}">{% if edition.subject %}{{ edition.subject }}{% else %}Untitled Edition{% endif %}</a>
<a href="/editor/editions/{{ edition.id }}">Preview</a>
{% endblock %}

{% block main %}

{% if error %}
    <div class="error">{{error}}</div>
    {% endif %}
<section>

    
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="edition_id" value="{{edition.id}}">
        <h2>[Humanist] {{ current_volume }}.{{ current_issue }}: {% if edition.subject %}{{ edition.subject }}{% else %}Untitled Edition{% endif %}</h2>
    

<pre>
{% include "includes/outgoing_template.html" with edition=edition %}
</pre>

        <div class="controls">
            <input type="submit" name="action" value="Back">
            <input type="submit" name="action" class="send" value="Send">
        </div>
    </form>
</section>

{% endblock %}