{% extends 'base.html' %}

{% block meta_title %}
Editor Interface
{% endblock %}

{% block title %}
Editor Interface
{% endblock %}

{% block main %}

<section class="editor-formlist">
    <h2>Trash</h2>
    <p><a href="/editor">{{ emails.inbox.count}} New</a>, <a href="/editor/used">{{ emails.used.count}} Used</a>, {{ emails.deleted.count }} Deleted</a></p>

    <p>The following emails are in the Trash because they have been manually deleted, or were
    received from an unknown email address.</p>

    {% if emails.deleted.count %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th></th>
                <th>Date</th>
                <th>From</th>
                <th>Content</th>
            </tr>

            <!-- emails -->
            {% for email in emails.deleted %}
            <tr>
                <td><input type="checkbox" name="email_id" value="{{email.id}}"></td>
                <td class="date">{{ email.date }}</td>
                <td class="from">{{ email.sender }}</td>
                <td class="content">
                    <span class="subject">{{ email.subject }}</span>

                    <div class="body">{{ email.body }}</div>
                    {% if email.attachments %}
                        <p>Attachments:
                        {% for att in email.attachments %}
                        <a href="{{ att.url }}" target="_blank">{{ att.original_filename }}</a> &nbsp;
                        {% endfor %}
                        </p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="controls">
            <input type="submit" name="action" value="Restore"> 
            <input type="submit" name="action" value="Empty Trash"> 
        </div>
    {% else %}
    <p>There are no deleted emails.</p>
    {% endif %}

</section>



{% endblock %}