{% extends 'base.html' %}

{% block meta_title %}
View/Edit Edition
{% endblock %}

{% block title %}
View/Edit Edition
{% endblock %}

{% block breadcrumb %}
<a href="/editor">Editor</a>
<a href="/editor/editions">Editions</a>
<a href="/editor/editions/{{ edition.id }}">{{ edition.subject }}</a>
<a href="/editor/editions/{{ edition.id }}">Preview</a>
{% endblock %}

{% block main %}


<section>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="edition_id" value="{{edition.id}}">
        <h2>{% if edition.subject %}{{ edition.subject }}{% else %}Untitled Edition{% endif %}</h2>

<pre>
{% for email in edition.editedemail_set.all %}
{{email.subject}} from {{ email.sender }}

{{ email.body }}
{% if email.attachments %}
-
Attachments:
{% for att in email.attachments %}
{{ att.original_filename }}: {{ request.scheme }}://{{ request.get_host }}{{ att.url }} 
{% endfor %}
{% endif %}

{% if not forloop.last %}

-----

{% endif %}
{% endfor %}
        </pre>

        <div class="controls">
            <input type="submit" name="action" value="Back">
            <input type="submit" name="action" class="send" value="Send">
        </div>
    </form>
</section>

{% endblock %}