{% extends 'base.html' %}

{% block meta_title %}
Editor Interface
{% endblock %}

{% block title %}
Editor Interface
{% endblock %}

{% block breadcrumb %}
<a href="/editor">Editor</a>
{% endblock %}

{% block main %}
<section class="editor-overview">

    <div class="editions">
        <h2>Recent Editions</h2>

        {% for edition in editions.drafts %}
        <p>
            <span class="badge">draft</span>

            <a href="/editor/editions/{{edition.id}}">{% if edition.subject %}{{ edition.subject }}{% else %}Untitled Edition{% endif %}</a>
        </p>

        {% endfor %}
        {% for edition in editions.sent %}
        <p>
            <span class="badge">{{ edition.date_sent }}</span>

             <a href="/editor/editions/{{edition.id}}">{% if edition.subject %}{{ edition.subject }}{% else %}Untitled Edition{% endif %}</a>
        </p>
        {% endfor %}

        <p><a href="/editor/editions">View More</a>
    </div>

    <div class="users">
        <h2>Users</h2>
        <dl>
            <dt>Total:</dt>
            <dd>{{ user_counts.active }} (<a href="/editor/users/">view</a>)</dd>

            <dt>Awaiting Approval:</dt>
            <dd>{{ user_counts.inactive }} {% if user_counts.inactive %} (<a href="/editor/users/unapproved/">manage</a>){% endif %}</dd>

            <dt>Admins:</dt>
            <dd>{{ user_counts.admin}} (<a href="/editor/users/admins/">manage</a>)</dd>
        </dl>
    </div>

</section>



<section class="editor-formlist">
    <h2>Inbox</h2>
    {% include 'includes/email_tabs.html' with emails=emails active='inbox' %}


    {% if emails.inbox.count %}
    <form action="" target="_blank" method="post">
        {% csrf_token %}

        <div class="controls">
            <input type="submit" name="action" value="Create Edition">
            <input type="submit" name="action" value="Mark as Used"> 
            <input type="submit" name="action" value="Delete"> 
           
        </div>

        <table>
            <tr>
                <th></th>
                <th>Date</th>
                <th>From</th>
                <th>Content</th>
            </tr>

            <!-- emails -->
            {% for email in email_display %}
            <tr>
                <td><input type="checkbox" name="email_id" value="{{email.id}}"></td>
                <td class="date">{{ email.date }}</td>
                <td class="from">{{ email.sender }}</td>
                <td class="content">
                    <span class="subject">{{ email.subject }}</span>

                    <div class="body">{{ email.body }}</div>
                    {% if email.attachments %}
                        <p>Attachments:
                        {% for att in email.attachments %}
                        <a href="{{ att.url }}" target="_blank">{{ att.original_filename }}</a> &nbsp;
                        {% endfor %}
                        </p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="controls">
            <input type="submit" name="action" value="Create Edition">
            <input type="submit" name="action" value="Mark as Used"> 
            <input type="submit" name="action" value="Delete"> 
            {% if editions.drafts %}
            <p>Add selected emails to an existing draft:</p>
            <select name="edition_id">
                {% for ed in editions.drafts %}
                <option value="{{ed.id}}">{% if ed.subject %}{{ ed.subject }}{% else %}Untitled Edition{% endif %}</option>
                {% endfor %}
            </select>
            <input type="submit" name="action" value="Add"> 
            {% endif %}


        <div class="pagination">
            <span class="step-links">
                {% if email_display.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ email_display.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ email_display.number }} of {{ email_display.paginator.num_pages }}.
                </span>

                {% if email_display.has_next %}
                    <a href="?page={{ email_display.next_page_number }}">next</a>
                    <a href="?page={{ email_display.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </div>
    {% else %}
    <p>There are no new emails</p>
    {% endif %}

</section>



{% endblock %}