{% extends 'base.html' %}

{% block meta_title %}
User Update
{% endblock %}

{% block title %}
User Update
{% endblock %}


{% block breadcrumb %}
<a href="/user">User Panel</a>
<a href="/user/update">Update</a>
{% endblock %}

{% block main %}
<section>

    {% if error %}
    <p class="error">{{error}}</p>
    {% endif %}

    {% if success %}
    <p class="success">{{success}}</p>
    {% endif %}


    <p>You are currently subscribed to Humanist using the email address {{request.user.email}}.</p>

    <h3>Subscription Preferences</h3>
    <p>Would you prefer to receive a weekly digest? Check the following box to disable real-time emails.</p>

    <form class="user_form" action="" method="post">
        {% csrf_token %}
        <input type="checkbox" name="digest" id="digest" {% if subscriber.digest %}checked="checked"{% endif %}>
        <label for="digest">Only send digests</label>
        <input type="submit" name="action" value="Update Preferences">
    </form>

    <h3>Update Email</h3>


    <p>To change your email address, please type your new email below:</p>

    <form class="user_form" action="" method="post">
        {% csrf_token %}
    
        <strong>New email: </strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" name="new_email">
        <input type="submit" name="action" value="Update Email">
    </form>
</section>
{% endblock %}