{% extends 'base.html' %}

{% block meta_title %}
User Update
{% endblock %}

{% block title %}
User Update
{% endblock %}

{% block main %}
<section>
    <p>You are currently subscribed to Humanist using the email address {{request.user.email}}.</p>

    <p>To change this, please type your new email below:</p>

    <form class="user_form" action="" method="post">
        {% csrf_token %}
        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}

        {% if success %}
        <p class="success">{{success}}</p>
        {% endif %}

        <strong>Old Password*:</strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="old_password">

        <strong>New Password*:</strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="password">

        <strong>And again*:</strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="password2">

        <input type="submit">
    </form>
</section>

{% endblock %}