{% extends 'base.html' %}

{% block meta_title %}
Change Password
{% endblock %}

{% block title %}
Change Password
{% endblock %}

{% block breadcrumb %}
<a href="/user">User Panel</a>
<a href="/user/password">Change Password</a>
{% endblock %}

{% block main %}
<section>
    <p>To change your password, please complete the following:</p>

    <form class="user_form" action="" method="post">
        {% csrf_token %}
        {% if error %}
        <p class="error">{{error}}</p>
        {% endif %}

        {% if success %}
        <p class="success">{{success}}</p>
        {% endif %}

        <strong>Old Password*:</strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="old_password">

        <strong>New Password*:</strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="password">

        <strong>And again*:</strong>
        <input autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="password" name="password2">

        <input type="submit">
    </form>
</section>

{% endblock %}